#settings-img{
	height:30%;
	width:30%;
}
#schedule-img{
	height:30%;
	width:30%;
}
.landing{
	margin-top: 10%;
}
.landing-para{
	text-align:center;
}
.fabasic{
	font-size:800%;
	display:block;
	text-align:center;
	
}
.carousel{
    background: #2f4357;
}
.errordiv p{
	color:#fff;
}
.carousel .item .errordiv{
    margin: 0 auto; /* Align slide image horizontally center */
}
