#settings-img{
	height:30%;
	width:30%;
}
#schedule-img{
	height:30%;
	width:30%;
}
.landing{
	margin-top: 20%;
}
.landing-para{
	text-align:center;
}
.fabasic{
	font-size:800%;
	display:block;
	text-align:center;
	
}
